- # => Login
- # => Used to provide us with the ability to help users log in
= form_tag "/login", class: :login do
    = text_field_tag :email,    placeholder: "Email"
    = text_field_tag :password, placeholder: "Password"
    = submit_tag
