- # Pages
- # Simple thing which shows the pages a user has
- @pages.each do |page|
  = @page.title

- # Add Page
- # Allows you to add a new page to your roster
= link_to I18n.t('pages.new'), "/pages/new"
