!!!
%html{lang: "en"}
  %head
    - # General
    %title Notion (Test)
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    - # Assets
    != stylesheet_tag('app')
    != javascript_tag('app')

  %body
    = flash if flash.present?
    = yield
